.adaptable-alert-info {
  color: [[setting:alertcolorinfo]];
  background-color: [[setting:alertbackgroundcolorinfo]];
  border-color: [[setting:alertbordercolorinfo]];
}
.adaptable-alert-info a, .adaptable-alert-info a:hover {
  color: [[setting:alertcolorinfo]];
}

.adaptable-alert-success {
  color: [[setting:alertcolorsuccess]];
  background-color: [[setting:alertbackgroundcolorsuccess]];
  border-color: [[setting:alertbordercolorsuccess]];
}
.adaptable-alert-success a, .adaptable-alert-success a:hover {
  color: [[setting:alertcolorsuccess]];
}

.adaptable-alert-warning {
  color: [[setting:alertcolorwarning]];
  background-color: [[setting:alertbackgroundcolorwarning]];
  border-color: [[setting:alertbordercolorwarning]];
}
.adaptable-alert-warning a, .adaptable-alert-warning a:hover {
  color: [[setting:alertcolorwarning]];
}