/* This is a css file to customise BCU to our liking
*
* Only Augmented stuff should be here. Try not to duplicate unless unavoidable.
*/

/* Reset styles
----------------------------------*/
a {
   outline: 0;
}

#page-content {
    padding: 10px 0 20px;
}

#page-navbar {
	margin: 0px 0px 10px;
}

iframe {
    border: none;
}

/* FrontPage Slider Styles
----------------------------------*/
div.container.slidewrap {
    display: none; /*Turn it off for logged in users*/
}

.notloggedin div.container.slidewrap {
    display: block; /*Turn it on if not logged in*/
}



/* Block Styles
----------------------------------*/

.block-region {
    background-color: [[setting:blockregionbackgroundcolor]];
    border: 1px solid [[setting:blockbordercolor]];
}


/*.block .header {
    border-top: none;
}*/

.block:first-of-type {
    border-top: none;
}

/* Remove bottom border off the last block */
.block:last-of-type { 
    border-bottom: none;
}


.block {
    padding: 5px 0 20px 0;
    background-color: #EAEAEA;
    box-shadow: none;
    margin-bottom: 0px;
    border-radius: 0px;
    /*border-bottom: 1px solid #c6c6c6;*/
}

.block a:hover {
    text-decoration: underline !important;
}

.block .header .title {
}

.block .header .title h2 {
    margin: 0;
    padding-left: 0;
    text-shadow: none;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: .8em;
    text-transform: uppercase;
    color: #999;
}

.block .header .block_action {
    padding: 1px 15px;
}

.block .content hr {
    border-color: [[setting:blockbordercolor]];
    border: 1px solid;
}

.block .content h3 {
    text-shadow: none;
}


/* Calendar 
----------------------------------*/

/*Fix for the calendar not above.*/
div.calendar-event-panel {
    z-index: 100!important;
}

/* Breadcrumb Styles
----------------------------------*/
.breadcrumb {
    border: 1px solid #d3d3d3;
    background-color: #EAEAEA;
}


/* Dock Styles
----------------------------------*/
#dock {
    background-color: #363636;
    margin: 0px;
    padding-right: 2px;
}

#dock .dockedtitle {
    border-radius: 0px;
    /*background: transparent;*/
}
/*
#dock .dockedtitle h2{
    color: white;
    text-shadow: none;
}*/


body.has_dock #page {
    padding-left: 42px;
}

#dockeditempanel {
    padding-left: 0px;
}

#dockeditempanel .dockeditempanel_content {
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.3);
    border-radius: 0px;
}



/* Header */
div.userhead > div {
    padding-top: 1px;
}

span#oms_text {
    padding-top: 1px;
    display: inline-block;
}

div.userhead .headermenu.row {
    margin-top: -1px;
}

/* Not Logged In - Login Box Styles
----------------------------------*/

/* #theloginbox from medlogin.php - for Shib login */
#theloginbox {
    background: #333;
    margin-bottom: 20px;
    display: none;
}

.notloggedin #theloginbox {
    display: block;
}

#theloginbox-internal {
	padding: 15px 25px;
	color: #fff;
	font-size: 16px;
}

#theloginbox h4 {
	font-weight: 700;
	font-size: 24px;
}

#theloginbox a,
#theloginbox a:hover,
#theloginbox a:visited {
    color: #fff;
    font-size: 1em;
}

/* standard main login form */
form#login input[type="submit"] {
    font-size: 1.5em;
}

/* the form itself */
form#login {
    margin-top: 1em;
}

/* this is in the login block, which we don't seem to be using? */
#login_username,
#login_password {
    height: 1.2em;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-right: 5px;
    border-radius: 0;
}

/* headermenu */
.headermenu input[type="text"],
.headermenu input[type="password"] {
    border-radius: 0px;
    height: auto;  
    padding: 0 4px;
    vertical-align: middle;
}





/*#theloginbox .span3 {
	text-align: right;
	padding-top: 35px;
}*/



/* Med Pills
----------------------------------*/
.med-pills {
    border: 1px solid green;
}

.med-pills img {
    border: 2px solid hotpink;
}

.med-pills li{
     border: 1px solid red;
}

.med-pills .img-test {
    background-color: rebeccapurple;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.med-pills a {
    color: pink;
    text-align: center;
}


/* Nav Bar
----------------------------------*/

#navwrap {
	background-color: [[setting:menubkcolor]];
	border: none;
}

.navbar .nav {
	padding-top: 5px;
}

.navbar-inner {
	background-image: none;
	background-color: [[setting:menubkcolor]];
	border: none;
}

/* XXX - this url needs to go. We can't rely on anything outside of this theme.
         Don't know what you're trying to do here so not touching for now.
*/
.navbar .brand {
	background: url([[pix:theme|medmoodle_logo_sm]]) no-repeat 20px 12px;
	margin: 0px;
	width: 95px;
	height: 25px;
}

/* XXX - Modified padding here to make LHS of custom menu line up
         (needs to match padding-left on .btn set at line 55 in button.css.

         Note that that has clearly been butchered, as padding is set twice
         in same declaration!

         Was 0 20 0 20; could make it 0 15 0 25 to match previous
         spacing but I think 15 is better overall anyway.
*/         
.navbar .nav > li > a {
        padding: 0px 15px 0px 15px;
	background-color: [[setting:menubkcolor]] !important;
	color: [[setting:menufontcolor]] !important;
	line-height: 20px;
	font-size: 14px;
}


/* Hamburger */
/* should bg be menubkcolor? */
.navbar .btn-navbar {
    background-color: [[setting:menubkcolor]] !important;
    border:none;
}

.navbar .btn-navbar:hover {
    background-color: [[setting:navbarhover]] !important;
    border:none;
}

a.usermendrop {
    color: [[setting:headertextcolor]];
}

#page-header {
    min-height: 40px;
}

#page-header a{
    color: [[setting:headertextcolor]];
}

#oms_text {
    color: [[setting:headertextcolor]];
}

/* !important to combat adaptable's adding it in adaptable.css line 61 */
/* also menu.css's line 215-ish bg setting to transparent trying really hard */
ul.usermenu2.nav a,
ul.usermenu2.nav a:hover,
ul.usermenu2.nav a:active {
    color: [[setting:headertextcolor]] !important;
    background-color: [[setting:headerbkcolor]] !important;
}

/*
No longer exists?, and should never have been set this way anyway
#coursetitle {
	padding-top: 0px;
	font-size: 28px;
}
*/

#zoom_btns li.sbl,
#zoom_btns li.sbll,
#zoom_btns li.hbl,
#zoom_btns li.hbll {
	display: inline;
	list-style-type: none;
	/*padding-right: 20px;*/
}

/* XXX - To align custom menu & medmenu with hide blocks/standard view buttons, set:
         * .navbar ul.nav.pull-right  padding-top
         * .navbar .btn  margin-top
         * .navbar .nav  padding-top
         all to the same pixel value.

         This is required so that medmenu can be optional without anything looking
         horrible.

         Previously set here, menu.css line 166, and at top of nav bar section (above),
         to 9, 3 and 15.

*/
.navbar ul.nav.pull-right {
    padding-top: 5px;
}

/* XXX - added to override setting in menu.css, see above. Don't know what effect of
         .btn-group entry is at the moment
*/
.navbar .btn, .navbar .btn-group {
    margin-top: 5px;
}

/* from menu experiment */

#brnav-container {
    /*background-color: pink;*/
}

.brnav-heading {
	font-family: Open Sans,sans-serif !important;
    font-weight: bolder;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .3em;
	color: #aaa;
	text-align: center;
	line-height: 1em;
    margin-top: 1em;
    padding-top: 20px;
    border-top: 1px solid #746E6E;
}

.brnav-block{
	clear:both;
	/*margin-top: 10px;*/
}

.test {
	width:600px;
	height: 100px;
	/*background-color: hotpink;*/
}



.navbar-inner {
	
}

.mymenu {

	margin: 0 0 0 20px;

}

/* adaptable's !important strikes again... */
.mymenu a {
	color: #fff !important;
}


/*#brnav-container {
	clear: both;
	float: left;
	position: relative;
	margin: 0 auto;	
}*/

button.brmenu-close-btn {
	border: 1px solid #fff;
	padding: 0px 4px;
}

/* combating adaptable's !important again and again... */
.bbnav {
	background-color: transparent !important;
	border: none;
}

.bbnav:hover {
/*	background-color: transparent !important; */
	
}



/* 
XXX - Brendon - do we need this for anything?
      Causes dropdowns in custom menu not to line up
      with non-dropdown links.

      Plus, colour should be set based on theme settings
      rather than hardcoded.

.navbar .dropdown-toggle {
	border: 1px solid #363636;
}

*/

/* XXX - menu.css sets .dropdown-toggle height.
         This is fugly in custom menu, so I'm overriding it here.
         Much nicer.
*/
.dropdown-toggle {
        height: inherit;
}

/* pulled in from medcontent.css */
.nav-collapse .dropdown-menu a{
	color: #fff;
}

/* XXX - These two added to avoid overflowing menus, and to tidy
         up extraneous border on last element of each menu.
         Which are all also fugly.
*/
.nav .dropdown-menu li a {
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: none;
}

.nav .dropdown-menu li a:hover {
    background-color: [[setting:buttoncolor]];
    color: [[setting:buttontextcolor]] !important;
    
}


.nav .dropdown-menu li + li {
    border-top: 1px solid #EEEEEE;
    border-top-width: 1px !important;
}

.mylist .dropdown-toggle {
	border: none;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle  {
	color: #fff;
	background-color: #363636;
	border: 1px solid #aaa;
	border-bottom: 0px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border-radius: 0;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #fff !important;
	background-color: #0084C2;
}


.programme {
	font-weight: bold;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .3em;
	color: #aaa;
}

.school-title {
	font-weight: bolder;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: .3em;
	color: #aaa;
	margin-bottom: 1em;
}

.school-title-sm {
	font-weight: bolder;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .3em;
	color: #aaa;
}

.mylist {

	margin: 0 0 2em 0;
}

.home {
	margin: 0 0 1em 0;
	font-size: 1.2em;
	/*padding-bottom: 1em;*/
	/*border-bottom: 1px solid #746E6E;*/
}

.home_divider {
		margin: 1em 0;

	border-bottom: 1px solid #746E6E;
}

.dropdown-menu {
	border-radius: 0;
}



/* CUSTOMMENU - Move the caret that joins the menu to the navbar, to the center */
.navbar .nav > li > .dropdown-menu::before,
.navbar .nav > li > .dropdown-menu::after {
	margin-left: 1.5em;
}


ul .dropdown-menu .container-fluid .mymenu {
	margin: 0 auto;
	left: 0;
	float: left;
	position: center;
}

.hbl, .sbl {
	margin-right: 5px;
}

#brzoom {
	padding-top: 5px;
	background-color:
}

#brzoom.navbar .nav {
	padding: 0;
	margin: 0;
	right:0;
}

/* Section Name Styling Override.  */
h3.sectionname {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
}

/* pending adaptable introducing a specific setting for this... 
   currently they hardcode it to #f5f5f5
*/
#page .course-content ul li.section.main {
    background-color: [[setting:backcolor]];
}

/* Current Section highlighting */
.course-content ul li.section.main.current {
    border: 2px solid #FF8F33 !important;
}

/* Don't override UI-configurable stuff in here, set it in UI. */
/*
.course-content .current .content .sectionname {
    background-color: transparent;
}
*/

.course-content ul.topics li.section .summary {
    margin: 0 15px 5px 15px;
    padding: 1em 0 0 20px;
}

.course-content ul.topics li.section ul {
    margin-bottom: 0.5em;
}

/* Section link alignment tweaks. */
    .section-modchooser-link {
        margin-right: 10px;
    }

    .sectionname div.availabilityinfo {
        margin-left: 20px;
    }


/* Atto editor fixes.
----------------------------------*/
.atto_menu .dropdown-menu {
    right: auto;
}


/* File Picker
----------------------------------*/
.fp-forminset .control-group .controls.control-radio input[type="radio"] {
    margin-left: 0px;
}



/* Quizzes
----------------------------------*/
#page-mod-quiz-edit .questionbankwindow.block div.header {
    background-color: #556C90;
}

/* has to be important because annoying m-l-1 in bootstrapbase bs4-compat is !important */
.answer label.m-l-1 {
    margin-left: inherit !important;
}

/* Remove bg colour */
.que .formulation {
    background-color: #fff;
    border-color: #CDCDCD;
}

/* Change colour of paragraphs from black to brown */
.que .outcome p {
   color: #8a6d3b;
}

/* Increase timer size */
#quiz-timer {
    font-size: 1.6em;
}

/* Decrease the line height in question text. */
.que.gapselect .qtext {
    line-height: 1.7em;
}


/* Change responses to be different than the questions. */
.que.essay .qtype_essay_response.readonly {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
}

.que.multichoice .ablock .answernumber {
    font-weight: bold;
}

/* Grading
----------------------------------*/
#page-mod-quiz-report table#attempts {
    width: auto; /* without the grading table limited to 80% */
}

table#attempts .picture,
#responses .picture  {
    min-width: 30px; /* Profile pictures will squish in webkit without this */

}

.gradingtable .cell img.smallicon{
    min-width: 20px;
    padding: 8px;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(202, 241, 163);
}

.gradingtable .cell img.smallicon:hover{
    background-color: rgb(211, 255, 167);

}

.gradereport-grader-table img{
    max-width: none; /* Fixes overlapping icons in webkit in grader report*/
}

/* Allow gradebook to run all over RHS blocks, to allow shitty YUI js to keep
headers visible when scrolling (only works if whole window is scrolling!)
*/
.path-grade-report-grader div.gradeparent {
    overflow: visible;
}

/* Fix for the grading stats page. Related to issue fixed with previous style */
#questionstatistics img {
    max-width: none;
}

/* File Submissions column overflow fix */
td.ygtvcell {
	padding: 1px !important;
	word-break: break-all;
}


/* Fix for ruberic limited to 720px */
.gradingform_rubric {
    max-width:none;
    }

/* Fix for the edit topic dropdown alignment in webkit. */
.moodle-actionmenu[data-enhanced].show .menu .smallicon {
    max-width:none;
}


/* Fix for edit menu going under block area on Gradebook Setup page */
.path-grade-edit table#grade_edit_tree_table {
  overflow-x: initial; 
}


/* General Styles
----------------------------------*/


/* Group Preview Styles
----------------------------------*/
.group-overview-user {
    float: left;
    margin: 0 1em 1.5em 0;
    display: block;
    width: 7.5em;
    /*overflow: hidden;*/
}

.group-overview-userpic a {
}

.group-overview-userpic img.userpicture {
    width: auto;
    height: auto;
}

.group-overview-usertext {
    margin: .7em 0;
    /*font-size: auto;*/
}


/* Plugin styles
----------------------------------*/

/* Assign Plugin */

#intro.generalbox {
    width: auto;
}

#fitem_id_submissionstatement .fitemtitle,
#fitem_id_files_filemanager .fitemtitle {
    width: 140px;
    margin-right: 20px;
    text-align: right !important;
}

#fitem_id_submissionstatement .felement,
#fitem_id_files_filemanager .felement {
    margin-left: 160px;
}

#fitem_id_submissionstatement #id_submissionstatement {
    float: left;
    margin: 15px 15px 15px 0px;
}

#fitem_id_submissionstatement label {
    display: block;
}

#fitem_id_submissionstatement label div {
    clear: left;
    margin-left: 25px;
}

/* Roster Plugin */

/* Adaptable keeps adding !important, so we have to too :( */
.report-roster #profilepic img, .report-roster .userpicture {
  width: auto !important;
  height: auto !important;
}

.usermendrop .userpicture {
    width: 25px !important;
    height: 25px !important;
}

.report-roster li {
    margin-right: 15px;
}

.userpicture {
    border-radius: 10%;
}

.userpicture {
    height: 2.5em !important;
    width: auto !important;
}

table#participants .userpicture {
    height: 2.5em !important;
    width: auto !important;
}

/* Footer Styles
----------------------------------*/

footer h3 {
    font-size: 1.1em;
    font-weight: bold;
    font-family: sans-serif;
}

footer a {
    font-size: .9em;
}


/* ----- */

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-decoration: none !important;
    color: #fff !important;
    background-color: #0084C2;
}


/* Bootstrap Modal */
.modal-header button.close {
    color: #333333 !important;
}


/* Bootstrap Navtabs */
.nav-tabs li {
    list-style: none;
}


/* ---------------- @media declarations -------------------*/


/* Large desktop */
@media (min-width: 1200px) { ... }
	
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .socialbox {
        display: none;
    }
}
	
@media (max-width: 979px) {
    .sbl {
	display: inline-block !important;
    }
    
    .nav-collapse .nav {
	width: auto;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    div.socialbox {
        display: none;
    }
    
    #bootbutt btn {
        padding: 8px 5px !important;
    }
    
    .breadcrumb {
        display: block;
    }
 }
	
/* Landscape phones and down */
@media (max-width: 480px) { 
    div.socialbox {
        display: none;
    }
    
    #oms_text {
        display: none;
    }    
}




@media (max-width: 990px) {

	/* Override menu.css */
    .navbar .nav > li > a {
      border-bottom: none;
    }
}


@media print {
    #above-header {
        display: none;
    }

    .socialbox {
        display: none;
    }

    #course-header {
        display: none;
    }

    #navwrap {
        display: none;
    }


    #report-roster-toggle {
        display: none;
    }

    #page-footer {
        display: none;
    }

    #block-region-side-post {
        display: none;
    }

    .singleselect(1) {
        display: none;
    }

    .path-report-roster .singleselect:nth-of-type(2) {
        display: none;
    }

    #logocontainer {
        display: none;
    }
}

/* mforms customisation */
.mform fieldset.collapsible legend a.fheader {
    margin-left: 0;
}




/* ---------------- TESTING declarations -------------------*/

.testThing {
    background-color: deeppink;
    color: #fff;
    width: 100%;
    height: 100px;
}


/* === CSS mods necessary for slider === */

@font-face {
  font-family: 'flexslider-icon';
  src: url('/theme/adaptable/fonts/flexslider-icon.eot');
  src: url('/theme/adaptable/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('/theme/adaptable/fonts/flexslider-icon.woff') format('woff'), url('/theme/adaptable/fonts/flexslider-icon.ttf') format('truetype'), url('/theme/adaptable/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.flex-direction-nav a:before,
.flex-direction-nav a:after {
    line-height: 1em;
}

/* "visible" or "hidden" in -x necessary to avoid flexsider direction nav
   controls causing scroll when outside slider viewport!

   Awkward. adaptable tries to set -y to visible, -x to auto for div.no-overflow
   and .yui3-datatable (auto means scrollbar when needed, basically)

   But it seems "overflow: auto" from base core.less effectively overrides
   this.

   See https://css-tricks.com/popping-hidden-overflow/ for more - basically
   if either direction is "scroll" or "auto", the other can not be "visible"
   but will magically be set to match the "scroll" or "auto". I guess this
   is because the position of the possible scrollbar has to be predictable,
   and shouldn't have visible content from the other axis splurged all over it.

   What will this break?
*/
div.no-overflow {
    overflow-x: visible;
    overflow-y: visible;
}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
    background: none;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;
}


/* flex-caption nicked from adaptable; it's pretty ugly... */

.flex-caption {
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    padding: 25px 25px 25px 30px;
    position: absolute;
/*
 These end up relative to entire string of images
    right: 0;
    width: 50%;
*/
}

.flex-caption h3 {
    color: [[setting:sliderh3color]];
    letter-spacing: 1px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.flex-caption h4 {
    color: [[setting:sliderh4color]];
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 1em;
}

.flex-caption p {
    margin: 0 0 15px;
}

.flex-caption .submit {
    margin-right: 10px;
    float:right;
    color: [[setting:slidersubmitcolor]] !important;
    background: [[setting:slidersubmitbgcolor]]
}


/* === end slider CSS mods === */

/*KJ added for Rubric grading for and text area entry*/
.gradingform_rubric .criteria {
	min-width: 100%;
}

.gradingform_rubric table.criteria {
	min-width: 100%;
}

.gradingform_rubric .remark textarea {
	width: 100%;
	min-width: 90%;
}

.path-mod-assign [data-region="grade-panel"] div#fitem_id_advancedgrading.fitem.popout {
   left: 5%;
   right: 5%;
}

/*end of KJ additions*/

