/* This document contains styles for facmed content only. Any styles that are for the
theme itself should remain in the med.css file. */

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}


/* ELM ALM Buttons/Table -> On the Front pages
------------------------------------------------*/

#elm_alm_tab.nav-tabs,
#elm_alm_tab.nav-tabs>li>a{
    background-color: transparent;
    border: none !important;
}


#ELM_ALM_menu {
	/*max-width: 465px;*/
}

.ELM_ALM_buttons {
	width: 200px;
	color: #fff;
	text-shadow: -3px 3px 2px rgba(0, 0, 0, .5);
	font-size: 3em;
	line-height: 1em;
	font-family: sans-serif;
	letter-spacing: 2px;
	clear: right;
	padding: 10px;
	display: inline-block;
}

#ELM_button {
	background-color: #BD6666;
	border-radius: 0 0 0 15px;
	text-align: left;
	padding-left: 20px;
}

#ELM_button a {
	text-decoration: none;
	width: 300px;
	height: 200px;
	padding-right: 100px;
	color: #fff;
}

#ALM_button {
	background-color: #5B8EAF;
	border-radius: 0 0 15px 0;
	text-align: right;
	padding-right: 20px;
}

#ALM_button a {
	text-decoration: none;
	width: 300px;
	height: 200px;
	padding-left: 100px;
	color: #fff;
	}

/* ELM_ALM button Subheading label */
.ELM_ALM_headings {
	float: left;
	width: 200px;
	font-size: .7em;
	text-transform: uppercase;
	font-family: sans-serif;
}

#ELM_ALM_menu_bottom_ELM {
	margin-left: 20px;
	clear: left;
}

#ELM_ALM_menu_bottom_ALM {
	margin-right: 20px;
	margin-left: 20px;
	text-align: right;
}

#ELM_div {
	clear: left;
}

#ALM_div {
	clear: left;
}

/* ELM ALM Badges Version2*/

#elmalm_buttons {
	text-align: center;
}

.school_badge_container {
	color: #fff;
	display: inline-block;
	margin: 0 auto;
}

.school_badge {
	float: left;
	padding: 10px 20px;
	color: #fff;
}

.elm_badge {
	background-color: #BD6666;
	border-radius: 0 0 0 20px;
	text-align: left;
}

.alm_badge {
	background-color: #5B8EAF;
	border-radius: 0 0 20px 0;
	text-align: left;
}

.school_name {
	font-family: 'Helvetica Neue'sans-serif;
	font-weight: bold;
	font-size: 2.2em;
	letter-spacing: .1em;
}

.school_full_name {
	font-family: 'Helvetica Neue'sans-serif;
	font-weight: lighter;
	font-size: 1em;
	line-height: .5em;
	clear: left;
	margin:.3em 0px;
	letter-spacing: .1em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Line break with title */

h2.h2line {
	    font-weight: 100;
	    font-family: 'Helvetica Neue'sans-serif;
	    letter-spacing: .1em;
	    margin: 0px 20px;
	    color: #000;
	    font-size: 2em;
	    height: 90px;
	    line-height: 90px;
	    border-bottom: medium none;
	    /*padding-bottom: 20px;*/
	    padding-top: 25px;
	    background: url([[pix:theme|linebreaker]]) repeat-x;
	    background-position: left 75px;
	    text-align: center;
}

h2.h2line span {
	background: none repeat scroll 0% 0% #FFF;
	color: #000;
	text-shadow: none;
	padding: 0 10px;
}



/* Facmed front page course table.
--------------------------------------------------------*/
.facmed_coursetable {
	/*This was the original css..redundant?*/
	overflow-x: auto; 
}

.facmed_coursetable_label {
	border: 1px solid #72726e; 
	background-color: #9c9b9b; 
	padding: 2px; 
	font-weight: bold;
	/*border-radius: 6px;*/
	text-align: center;
	color: #fff;
}

.facmed_coursetable_frame {
    background-color: pink;
}

.facmed_coursetable_label a{
	color: #fff;
	text-decoration: none;
}

.facmed_coursetable_column_label {
	border: 1px solid #8b8b7e; 
	background-color: #ffffff;
	padding: 2px; 
	text-align: center;
}


.facmed_coursetable_course {
	border-radius: 0px;
	border: 1px solid #8b8b7e; 
	padding: 2px;
}

.facmed_coursetable_verticalmodule_bg {
	background-color: #e6e6e6; 
	padding: 2px; 
}

.facmed_coursetable_verticalmodule {
	background-color: #ffffff;
}

/* ELM Table Specific 
----------------------*/
.facmed_coursetable_elm {
	display: none;
}

.facmed_coursetable_feature {
	background-color: #899fda;
}

.facmed_coursetable_case_med2 {
	background-color: #f8f2bd;
}

.facmed_coursetable_case_med3 {
	background-color: #f0e79d;
}

.facmed_coursetable_hic_med2 {
	background-color: #e5c4fa;
}

.facmed_coursetable_hic_med3 {
	background-color: #d2b3e6;
}

.facmed_coursetable_clinskills_med2 {
	background-color: #a8fbfc;
}

.facmed_coursetable_clinskills_med3 {
	background-color: #90d8dc;
}

/* ALM Table Specific 
----------------------*/
.facmed_coursetable_alm {
	display: none;
}

.facmed_coursetable_medicine {
	background-color: #daeef3;
}

.facmed_coursetable_psychmed {
	background-color: #e5dfec; 
}

.facmed_coursetable_surgery {
	background-color: #fde9d9; 
}

.facmed_coursetable_gp {
	background-color: #eeece1; 
}

.facmed_coursetable_wch {
	background-color: #ffffcc; 
}

.facmed_coursetable_geriatrics {
	background-color: #dbe5f1; 
}

.facmed_coursetable_skills {
	background-color: #b6dde8; 
}

.facmed_coursetable_musculo {
	background-color: #f2dbdb; 
}

.facmed_coursetable_elective {
	background-color: #cae8bb; 
}

.facmed_coursetable_community {
	background-color: #f2f2f2; 
}



/* Jumplinks 
---------------------------------- */

#jumpToBox {
/*	background-color:#EAEAEA; */
	float:left; 
	border:  1px solid #DBDBDB; 
	padding: 10px 20px 10px 20px;
}

#jumpToBox ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


#jumpToBox h2 {
    border-bottom: 1px solid #999999;
	text-shadow: none;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: .8em;
	color: #999;
	line-height: 2em;
	margin: 0 0 10px 0;
}


#jumpToBox li {
	float: left;
	padding: 0 10px ;
}

#jumpToBox a {
	text-decoration: none;
	display: block;
	min-width: 80px;
}

#jumpToBox a:hover {
	text-decoration: underline;
	
}



/* Old jump links solution*/
.jumplinks_box {
	background-color:#5a6c88; 
	float:left; 
	border-radius: 10px 10px 0 0; 
	padding: 10px 5px 10px 5px;
}

.jumplinks_box ul{
	list-style-type:none;
	padding: 0; 
	margin: 0; 
	color:white;
}

.jumplinks_box li{
	float:left;
	padding: 0 10px;
	border-right: 1px solid #b7bfcb;
}

.jumplinks_box li:first-child,
.jumplinks_box li:last-child
{
	border-right: none;
}

.jumplinks_box ul li a{
	color:white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
}

.jumplinks_box ul li a:link,
.jumplinks_box ul li a:visited,
.jumplinks_box ul li a:active,{
	color:white;
	text-decoration: none;
}

.jumplinks_box ul li a:hover{
	color:white;
	text-decoration: underline;
}

.jumplinks_box ul li span{
	line-height: 1.1em;

}
